.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  background-color: #7BE495;
}

#markdown-div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#markdown-div label, textarea {
  font-size: 1rem;
  letter-spacing: 1px;
}

#markdown-div label{
  display: block;
  text-align: center;
  background-color: #56C596;
  border-bottom: 1px solid black;
  padding: 5px 0;
  min-width: 600px;
}

#editor-div {
  margin-top: 10px;
  min-width: 600px;
}

#editor-div, #preview-div {
  border: 1px solid black;
  box-shadow: 1px 1px 10px 2px  black;
}

#editor, #preview {
  background-color: #CFF4D2;
}

#editor {
  min-width: 600px;
  max-width: 600px;
  height: 200px;
  min-height: 200px;
  padding: 5px;
}


#preview-div {
  display: block;
  margin-top: 10px;
  margin-bottom: 10px;
}

#preview {
  width: 800px;
  min-height: 100px;
  display: inline-block;
  padding: 0 5px;
}

code{
  background-color: white;
}

blockquote {
  border-left: 3px solid #224b4b;
  color: #224b4b;
  padding-left: 10px;
}

.icon {
  float: right;
  margin-right: 10px;
  color: black;
}

.icon:hover {
  color: #7BD5F5;
}